%table{style: 'width: 100%;'}
    %tr
        %th
            Symbol
        %th
            Percentage (%)
        %th
            Last Trade
        %th
            Stop Price
        %th
            Highest Price
        %th
            Lowest Price
    - stops.each_with_index do |stop, i|
        %tr{class: (i+1)%2 == 1 ? 'odd' : 'even'}
            %td
                = stop.symbol
            %td{style: 'text-align: right;'}
                = stop.percentage
            %td{style: 'text-align: right;'}
                = decimal_display stop.last_trade
            %td{style: 'text-align: right;'}
                = decimal_display stop.stop_price
            %td{style: 'text-align: right;'}
                = currency_display stop.highest_price
            %td{style: 'text-align: right;'}
                = currency_display stop.lowest_price

