= form_for [:finance, @stop] do |f|
    %table
        %tr
            %th
                Symbol
            %td
                = @stop.symbol
        %tr
            %th
                Last Trade
            %td
                = currency_display @stop.last_trade
        %tr
            %th
                = f.label 'Stop Price'
            %td
                = f.number_field :stop_price, step: 0.001
        %tr
            %th
                = f.label 'Percentage'
            %td
                = f.number_field :percentage, step: 0.001
        %tr
            %td{colspan: 2}
                = f.submit 'update'

