%table
    %tr
        %th
            Symbol
        %td
            = @stop.symbol
    %tr
        %th
            Last Trade
        %td
            = currency_display @stop.last_trade
    %tr
        %th
            Stop Price
        %td
            = currency_display @stop.stop_price
    %tr
        %th
            Percentage
        %td
            = @stop.percentage
= link_to 'portfolio', finance_portfolios_path
|
= link_to 'edit', edit_finance_stop_path(@stop.id)

