-# Initialize other variables
- change_today = holding.quantity * quote[:changePoints]
- total_change = holding.total_change

-# Render the holding row
%tr{class: "#{safe_str(holding.position.portfolio.name)}-#{holding.symbol}-holding"}
  %td{colspan: 2}
  %td.number
    = currency_display change_today
  %td.number
    = decimal_display holding.quantity
  %td.number
    = currency_display holding.current_value
  %td.number{class: positivity_class(total_change)}
    = currency_display total_change
  %td.spread
    = spread_chart_partial holding.lowest_price, holding.highest_price, holding.last_trade
  %td.actions
    = link_to 'Delete', finance_holding_path(holding.id), data: {confirm: 'You sure?'}, method: :delete if can?(:destroy, holding)

