-# Initialize other variables
- change_today = holding.quantity * quote[:changePoints] rescue nil
- total_change = holding.total_change
- visible ||= false

-# Render the holding row
%tr{class: "#{safe_str(holding.position.portfolio.name)}-#{holding.symbol}-holding #{visible ? 'visible' : ''}"}
  %td{colspan: 2}
    = date_display holding.purchase_date
  %td.number{class: positivity_class(change_today)}
    = currency_display change_today
  %td.number
    = decimal_display holding.quantity
  %td
  %td.number
    = currency_display holding.current_value
  %td.number{class: positivity_class(total_change)}
    = currency_display total_change
  %td.cost-basis.number
    = currency_display holding.purchase_price
  %td.spread
    = spread_chart_partial holding.lowest_price, holding.highest_price, holding.last_trade
  %td.actions
    .actions
      = edit_link edit_finance_holding_path(holding), can?(:edit, holding)
      = destroy_button finance_holding_path(holding), can?(:destroy, holding)

