-# Initialize other variables
- change_today = position.quantity * quote[:changePoints]
- total_change = position.total_change
- stop = position.stop
- period ||= 'one_month'

-# Render the position row
%tr.position.visible{class: ((index+1)%2).odd? ? 'odd' : 'even', id: "#{position.portfolio.name}-#{position.symbol}"}
  %td.symbol
    -# link_to position.symbol, charts_url(position.symbol, period), class: 'chart-link'
    = link_to position.symbol, edit_finance_position_path(position.id)
  %td.number
    = currency_display position.last_trade
  %td.number{class: positivity_class(quote[:changePoints])}
    = currency_display quote[:changePoints]
  %td.number{class: positivity_class(change_today)}
    = currency_display change_today
  %td.number
    = decimal_display position.quantity
  %td.number
    = currency_display position.current_value
  %td.number{class: positivity_class(total_change)}
    = currency_display total_change
  %td.spread
    = spread_chart_partial position.lowest_price, position.highest_price, position.last_trade
  %td.actions
    - if !stop.nil?
      = link_to "#{currency_display stop.stop_price}", finance_stop_path(stop.id), class: 'action-link'
    - else
      = link_to 'Stop', new_finance_stop_path(symbol: position.symbol), class: 'action-link' if can?(:create, Stop)

-# Render the holdings associated with this position
- position.holdings.order('purchase_date DESC').each_with_index do |holding, index|
  = holding_partial index, holding, quote

