-# Initialize other variables
- change_today = position.quantity * quote[:changePoints] rescue nil
- period ||= 'one_month'
- stop = position.stop
- stop_diff = position.last_trade - stop.stop_price if !stop.nil?
- total_change = position.total_change

-# Render the position row
%tr.position.visible{class: ((index+1)%2).odd? ? 'odd' : 'even', id: "#{safe_str(position.portfolio.name)}-#{position.symbol}", data: {id: position.id}}
  %td.symbol
    -# link_to position.symbol, charts_url(position.symbol, period), class: 'chart-link'
    = link_to position.symbol, edit_finance_position_path(position.id)
  %td.number
    = currency_display position.last_trade
    .price-details{class: positivity_class(quote[:changePoints])}
      = currency_display quote[:changePoints]
  %td.number{class: positivity_class(change_today)}
    = currency_display change_today
    .price-details
      = "#{decimal_display change_today / position.cost_basis * 100.to_f, 2}%" rescue nil
  %td.number
    = decimal_display position.quantity
  %td.number{class: percentage_class(position.percentage_of_total)}
    = percentage_display position.percentage_of_total
    - if position.needs_adjustment?
      .target-quantity
        = decimal_display position.target_quantity - position.quantity
  %td.number
    = currency_display position.current_value
  %td.number{class: positivity_class(total_change)}
    = currency_display total_change
    .price-details
      = "#{decimal_display position.total_change_percent, 2}%"
  %td.spread
    = spread_chart_partial position.lowest_price, position.highest_price, position.last_trade
  %td.cost-basis.number
    = currency_display position.purchase_price
  %td.actions
    .actions
      - if !stop.nil?
        .stop
          = link_to "#{currency_display stop.stop_price}", finance_stop_path(stop.id), class: 'action-link'
          .price-details{class: positivity_class(stop_diff)}
            = currency_display stop_diff
      - else
        = link_to 'Stop', new_finance_stop_path(symbol: position.symbol), class: 'action-link' if can?(:create, Stop)
      = destroy_button finance_position_path(position), can?(:destroy, position)

