-# Initialize other variables
- stop = position.stop

%tr{class: ((index+1)%2).odd? ? 'odd' : 'even'}
  %td
    = position.symbol
  %td.number-cell
    = currency_display position.last_trade
  %td.number-cell
    = position.quantity
  %td.number-cell
    = currency_display position.current_value
  %td.number-cell
    = currency_display position.lowest_price
  %td.number-cell
    = currency_display position.highest_price
  %td.number-cell
    - if !stop.nil?
      = link_to "#{currency_display stop.stop_price}", finance_stop_path(stop.id)
    - else
      = link_to 'Create', new_finance_stop_path(symbol: position.symbol) if can?(:create, Stop)

-# TODO use to delete holdings
  = link_to 'X', finance_holding_path(holding.id), data: {confirm: 'You sure?'}, method: :delete if can?(:destroy, holding)

