- page = File.join(controller, action)

%head
  %title
    = title
  = include_gon
  = favicon_link_tag
  = stylesheet_link_tag controller, media: 'all', 'data-turbolinks-track' => true if asset_exists?(controller, 'css')
  = stylesheet_link_tag page, media: 'all', 'data-turbolinks-track' => true if asset_exists?(page, 'css')
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

