%html
  %head
    %title
      welcome
    = include_gon
    = favicon_link_tag
    = stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag File.join(params[:controller], params[:action]), media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - devise_error_messages!
    #overlay{class: (alert or notice) ? '' : 'dismissed'}
      #message-wrapper{class: alert ? 'alert' : 'notice'}
        - if alert
          = alert
          - (flash[:errors] || []).each do |e|
            %li=e
        - else
          = notice

    #content-wrapper
      #content
        = yield

