%html
  %head
    %title="mattforni"
    = stylesheet_link_tag "standard"
    = stylesheet_link_tag @view_path if stylesheet_exist?(@view_path)
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-ui"
    =# csrf_meta_tag
  
  %body
    #body-container
      #header-container
        #header-title
          .header-text
            = "mattforni"
          .sub-header-text
            = "dot com"        
      #content-container 
        = yield
      